.sidebar {
    float: left;
    margin-right: 50px;
}

.sidebar .nav-menu {
    padding: 0;
    border: 1px solid #c8c8c8;
    width: 250px;
}

.sidebar .nav-menu ul {
    margin: 0;
}

.sidebar .nav-menu ul li {
    display: inherit;
    padding: 0 0 0 20px;
    border-bottom: 1px solid #c8c8c8;
}

.sidebar .nav-menu ul li:last-child {
    border-bottom: none;
}

.sidebar .nav-menu ul li a:hover {
    color: #000;
    margin-left: 15px;
}